*~
*.a
*.cdbs-orig
*.dll
*.dylib
*.exe
*.la
*.o
*.so
*.so.*
*.orig
*.rej

*.cmake
CMakeCache.txt
CMakeFiles
Makefile

*.lv2
*.make
*.make-e
object_script.*.Debug
object_script.*.Release
libs/*/*/Makefile
ports-legacy/*/LV2*/Makefile
ports-legacy/*/VST*/Makefile

.directory
.fuse*
.svn
.*.kate-swp
.DS_Store
.kdev_include_paths
.kdev4

bin/lv2
bin/vst
build/
debian
intermediate
juce_lv2_helper
lv2_ttl_generator

scripts/*.h

sdks/ASIOSDK2/*
sdks/vstsdk2.4/*
sdks/VST3SDK/*

_old
ports/_todo

libs/juce*/source/.gitignore
libs/juce*/source/.github
libs/juce*/source/.gitlab-ci.yml
libs/juce*/source/ChangeList.txt
libs/juce*/source/amalgamation/
libs/juce*/source/docs/
libs/juce*/source/examples/
libs/juce*/source/extras/
libs/juce*/source/juce.h
libs/juce*/source/juce_amalgamated.cpp
libs/juce*/source/juce_amalgamated.h
libs/juce*/source/juce_amalgamated.mm
libs/juce*/source/BREAKING-CHANGES.txt
libs/juce*/source/CMakeLists.txt
libs/juce*/source/LICENSE.md
libs/juce*/source/doxygen/
libs/juce*/source/modules/CMakeLists.txt
libs/juce*/source/modules/JUCE Module Format.txt
libs/juce*/source/modules/juce_analytics/
libs/juce*/source/modules/juce_blocks_basics/
libs/juce*/source/modules/juce_box2d/
libs/juce*/source/modules/juce_browser_plugin_client/
libs/juce*/source/modules/juce_osc/
libs/juce*/source/modules/juce_product_unlocking/
libs/juce*/source/modules/juce_video/
libs/juce*/source/modules/*/native/java/
libs/juce*/source/modules/*/native/javacore/
libs/juce*/source/modules/*/native/javaopt/
libs/juce*/source/modules/*/native/oboe/
libs/juce*/source/modules/*/native/*_android_*
libs/juce*/source/modules/*/native/*_ios_*
libs/juce*/source/modules/*/native/accessibility/*_test.cpp
libs/juce*/source/tools
