*~
*.a
*.dll
*.dylib
*.exe
*.la
*.o
*.so
*.so.*

*.cdbs-orig
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h

*.lv2
*.make
*.pro.user
Makefile
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release

.directory
.fuse*
.svn
.*.kate-swp
.DS_Store
.kdev_include_paths
.kdev4

bin/ladspa
bin/dssi
bin/lv2
bin/vst
bin/standalone
debian
intermediate
lv2_ttl_generator

libs/distrho/dgl/Makefile.copy
libs/juce-2.0/source/amalgamation/
libs/juce-2.0/source/docs/
libs/juce-2.0/source/extras/
libs/juce-2.0/source/modules/juce_box2d/
libs/juce-2.0/source/modules/juce_browser_plugin_client/
libs/juce-2.0/source/modules/juce_cryptography/
libs/juce-2.0/source/modules/juce_opengl/
libs/juce-2.0/source/modules/juce_video/
libs/juce-2.0/source/juce.h
libs/juce-2.0/source/juce_amalgamated.*

scripts/*.h
scripts/*.pro

sdks/ASIOSDK2/*
sdks/vstsdk2.4/*

_old
ports/_todo

libs/juce/source/.gitignore
libs/juce/source/amalgamation/
libs/juce/source/docs/
libs/juce/source/extras/
libs/juce/source/juce.h
libs/juce/source/juce_amalgamated.cpp
libs/juce/source/juce_amalgamated.h
libs/juce/source/juce_amalgamated.mm
libs/juce/source/modules/juce_box2d/
libs/juce/source/modules/juce_browser_plugin_client/
libs/juce/source/modules/juce_cryptography/
libs/juce/source/modules/juce_opengl/
libs/juce/source/modules/juce_video/
